<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context" xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">

    <context:annotation-config />
    <context:component-scan base-package="ny2.ats.*" />

    <context:property-placeholder ignore-unresolvable="true" location="file:etc/market.properties,file:etc/kdb_backtest.properties,file:etc/backtest.properties" />

    <!-- EventRouter -->
    <!-- <bean id="eventRouter" class="ny2.ats.core.router.impl.GenericEventRouterImpl"/> -->
    <bean id="eventRouter" class="ny2.ats.core.router.impl.SynchronizedEventRouterImpl"/>

    <!-- ExecutionOptimizer -->
    <!-- <bean id="executionOptimizer" class="ny2.ats.market.order.impl.ZMTExecutionOptimizerImpl"/> -->
    <bean id="executionOptimizer" class="ny2.ats.market.order.impl.OrderMarryOptimizerImpl"/>

    <!-- JMX -->
    <context:mbean-export />

    <!-- Historical -->
    <bean id="historicalTester" class="ny2.ats.historical.impl.HistoricalTesterImpl"/>
    <bean id="historicalTesterSetup" class="ny2.ats.historical.HistoricalTesterSetup"/>
    <bean id="HistoricalOrderManager" class="ny2.ats.market.order.impl.HistoricalOrderManagerImpl"/>
    <bean id="HistoricalConnector" class="ny2.ats.market.connection.historical.HistoricalConnector"/>

</beans>
